@using Sfa.Roatp.Register.Core.Utility
@model Sfa.Roatp.Register.Web.Models.DownloadViewModel
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Register of apprenticeship training providers
            </h1>
            <dl class="meta">
                <dt>From:</dt>
                <dd>
                    <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency" target="_blank">Education & Skills Funding Agency</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="grid-row document-list">
        <div class="column-one-third">
            <h2 class="heading-medium section-heading">Document</h2>
        </div>
        <div class="column-two-thirds">
            <div class="signed-agreement">
                <section class="attachment embedded">
                    <div class="attachment-thumb">
                        <a aria-hidden="true" class="thumbnail" href="@Url.Action("Csv", "Download", new {filename = Model.Filename}, null)"><img alt="" src="~/Content/dist/images/pub-cover-csv.png"></a>
                    </div>
                    <div class="attachment-details">
                        <h2 class="title">
                            ESFA register of apprenticeship training providers
                        </h2>
                        <span class="type">@Html.ActionLink("Download CSV", "Csv", "Download", new {filename = Model.Filename}, null)</span>
                    </div>
                </section>
                <dl class="meta">
                    <dt>Last Updated:</dt>
                    <dd>@Model.LastUpdated.ToGdsFormat()</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h3 class="heading-medium">What is in the register of apprenticeship training providers (RoATP)?</h3>

            <p>The register of apprenticeship training providers is a list of organisations that are eligible to receive government funding to train apprentices.</p>

            <h3 class="heading-small">UKPRN</h3>
            <p>
                This is the organisation’s UK Provider Reference Number (UKPRN) as given by the UK Register of Learning Providers (<a href="https://www.ukrlp.co.uk" target="_blank">UKRLP</a>).
            </p>

            <h3 class="heading-small">Organisation Name</h3>
            <p>
                This is the organisation’s legal name from the <a href="https://www.ukrlp.co.uk" target="_blank">UKRLP</a>. We also list trading names for sole traders and partnerships.
            </p>
            <p>
                We source organisation names displayed in the apprenticeship service from <a href="https://www.ukrlp.co.uk" target="_blank">UKRLP</a>.
            </p>

            <h3 class="heading-small">Provider Type</h3>
            <p>Providers choose the application route that is relevant to them.</p>

            <h3 class="heading-small">Parent Company Guarantee</h3>
            <p>If this field is set to 'TRUE', then the Education and Skills Funding Agency (ESFA) moderated the financial health outcome for this organisation to a pass due to the submission of a parent company guarantee.</p>

            <h3 class="heading-small">New Organisation Without Financial Track Record</h3>
            <p>If this field is set to 'TRUE', then the organisation has not been trading for a sufficient period to provide a complete set of financial statements. ESFA based a financial health judgement on management accounts and forecasts (where applicable).</p>

            <h3 class="heading-small">Start Date</h3>
            <p>This is the date that ESFA added the organisation to the RoATP.</p>

            <h3 class="heading-small">Provider not currently starting new apprentices</h3>
            <p>If this field is set to 'TRUE', then the organisation is not allowed to recruit new apprentices.</p>

            <h3 class="heading-small">Application determined date</h3>
            <p>This is the date that ESFA completed processing a provider's application to join the new RoATP. It will be updated every time a provider re-applies to join the RoATP in the future.</p>

            <p>
                For any further information see the <a href="https://www.gov.uk/government/collections/register-of-apprenticeship-training-providers" target="_blank">register of apprenticeship training providers</a> on GOV.UK
            </p>
        </div>

    </div>
</main>


@section footerJS {
    @*<script>
        var reqMore = document.getElementById('requestMore'),
            lnkReqMore = document.getElementById('lnkReqMore');

        reqMore.style.display = 'none';
        reqMore.style.visibility = 'hidden';

        lnkReqMore.addEventListener('click', function () {
            reqMore.style.visibility = reqMore.style.visibility === 'hidden' ? 'visible' : 'hidden';
            reqMore.style.display = reqMore.style.display === 'none' ? 'block' : 'none';
            return false;
        });
    </script>*@
}