<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Apprenticeship training providers
            </h1>
            <dl class="meta">
                <dt>From:</dt>
                <dd>
                    <a href="https://www.gov.uk/government/organisations/skills-funding-agency" target="_blank">Skills Funding Agency</a>
                </dd>
                <dt>Part of:</dt>
                <dd>
                    Register of training organisations and Further education and training
                </dd>
                <dt>Applies to:</dt>
                <dd>
                    England
                </dd>
            </dl>
        </div>
    </div>
    <div class="grid-row document-list">
        <div class="column-one-third">
            <h2 class="heading-medium section-heading">Document</h2>
        </div>
        <div class="column-two-thirds">
            <div class="signed-agreement">
                <section class="attachment embedded">
                    <div class="attachment-thumb">
                        <a aria-hidden="true" class="thumbnail" href=""><img alt="" src="~/Content/dist/images/pub-cover-csv.png"></a>
                    </div>
                    <div class="attachment-details">
                        <h2 class="title">
                            SFA register of apprenticeship training providers
                        </h2>
                        <span class="type">@Html.ActionLink("Download CSV", "Csv", "Download", null, null)</span>
                        <p class="metadata">
                            This file may not be suitable for users of assistive technology. @*<a id="lnkReqMore" href="#">Request an accessible format</a>*@
                        </p>
                        <p id="requestMore">
                            If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email <a href="mailto:info@sfa.bis.gov.uk?body=Details%20of%20document%20required%3A%0A%0A%20%20Title%3A%20SFA%20register%20of%20training%20organisations%20%0A%20%20Original%20format%3A%20csv%0A%0APlease%20tell%20us%3A%0A%0A%20%201.%20What%20makes%20this%20format%20unsuitable%20for%20you%3F%0A%20%202.%20What%20format%20you%20would%20prefer%3F%0A%20%20%20%20%20%20&subject=Request%20for%20%27SFA%20register%20of%20training%20organisations%20%27%20in%20an%20alternative%20format">info@sfa.bis.gov.uk</a>. Please tell us what format you need. It will help us if you say what assistive technology you use.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h3 class="heading-medium">What is in the Register?</h3>

            <p>The register lists the organisations that are approved to deliver apprenticeship training to employers using the apprenticeship service.</p>

            <h3 class="heading-small">UKPRN</h3>
            <p>This is the organisation's UK Provider Reference Number (UKPRN). More information about the UKPRN can be found at <a href="https://www.ukrlp.co.uk" target="_blank">UKRLP</a>.
            </p>

            <h3 class="heading-small">Organisation Name</h3>
            <p>This is the legal name from UK Register of Learning Providers (UKRLP). @*For sole traders and partnerships, we list the name on UKRLP and trading name.*@ Organisation names for digital accounts can be sourced from UKRLP.</p>

            <h3 class="heading-small">Provider Type</h3>
            <p>The 3 provider types are:</p>

            <ul class="list list-bullet">
                <li>main provider - organisations that can be selected by levy paying employers to deliver apprenticeship training, or selected by another main provider to work as a subcontractor if the contract value is greater than £500,000</li>
                <li>employer provider – levy paying employers who are permitted to provide training to their own staff or to apprentices of their connected companies. They cannot deliver training to other unconnected organisations</li>
                <li>supporting provider - organisations that only deliver as a subcontractor for contract values between £100,000 and £500,000 per year in total</li>
            </ul>

            <h3 class="heading-small">Parent Company Guarantee</h3>
            <p>If this field is set to 'TRUE', then the financial health assessment for this organisation was moderated to a pass due to the submission of a parent company guarantee with their application to the RoATP.</p>

            <h3 class="heading-small">New Organisation Without Financial Track Record</h3>
            <p>If this field is set to 'TRUE', then the organisation has not been trading for a sufficient period to provide a fully complete set of financial statements as part of the RoATP application process. A financial health judgement was based on management accounts and forecasts (where applicable).</p>

            <p>For any further information see the <a href="https://www.gov.uk/government/collections/register-of-apprenticeship-training-providers" target="_blank">register of apprenticeship training providers</a> information on GOV.UK
            </p>
        </div>

    </div>
</main>


@section footerJS {
    @*<script>
        var reqMore = document.getElementById('requestMore'),
            lnkReqMore = document.getElementById('lnkReqMore');

        reqMore.style.display = 'none';
        reqMore.style.visibility = 'hidden';

        lnkReqMore.addEventListener('click', function () {
            reqMore.style.visibility = reqMore.style.visibility === 'hidden' ? 'visible' : 'hidden';
            reqMore.style.display = reqMore.style.display === 'none' ? 'block' : 'none';
            return false;
        });
    </script>*@
}