<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Guidance</span>
                Apprenticeship training providers
            </h1>
            <dl class="meta">
                <dt>From:</dt>
                <dd>
                    <a href="https://www.gov.uk/government/organisations/skills-funding-agency" target="_blank">Skills Funding Agency</a>
                </dd>
                <dt>Part of:</dt>
                <dd>
                    Register of training organisations and Further education and training
                </dd>
                <dt>Applies to:</dt>
                <dd>
                    England
                </dd>
            </dl>

        </div>
    </div>

    <div class="grid-row document-list">
        <div class="column-one-third">
            <h2 class="heading-medium section-heading">Document</h2>
        </div>
        <div class="column-two-thirds">
            <div class="signed-agreement">
                <section class="attachment embedded">
                    <div class="attachment-thumb">
                        <a aria-hidden="true" class="thumbnail" href=""><img alt="" src="~/Content/dist/images/pub-cover-csv.png"></a>
                    </div>
                    <div class="attachment-details">
                        <h2 class="title">
                            @Html.ActionLink("SFA register of apprenticeship training providers", "Csv", "Download", null, null)
                        </h2>
                        <p class="metadata">
                            <span class="type">CSV</span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <div class="grid-row">
        <dl class="meta">
            <dt>Financial health indicators:</dt>
            <dd>
                We will flag to employers where we have used a parent company guarantee to moderate financial health or where we have reviewed management accounts and/or forecasts to make a financial health decision
            </dd>
            <dt>Contracted For Non Levied Employers:</dt>
            <dd>
                TBD
            </dd>
            <dt>Parent Company Guarantee:</dt>
            <dd>
                TBD
            </dd>
            <dt>New Organisation Without Financial Track Record:</dt>
            <dd>
                TBD
            </dd>
        </dl>
    </div>


</main>