<main id="content" role="main">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Guidance</span>
                Register of RoatP providers
            </h1>
            <dl>
                <dt>From:</dt>
                <dd>
                     <a href="https://www.gov.uk/government/organisations/skills-funding-agency" target="_blank">Skills Funding Agency</a>
                </dd>
                <dt>Part of:</dt>
                <dd>
                     SFA: register of training organisations and Further education and training
                </dd>
                <dt>First published:</dt>
                <dd>
                     14 March 2017
                </dd>
                <dt>Last updated:</dt>
                <dd>
                     No idea?
                </dd>
                <dt>Applies to:</dt>
                <dd>
                     England
                </dd>
            </dl>

        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <h2 class="heading-medium section-heading">Document</h2>
        </div>
        <div class="column-two-thirds">
            <div class="signed-agreement">
                <section class="attachment embedded">
                    <div class="attachment-thumb">
                        <a aria-hidden="true" class="thumbnail" href=""><img alt="" src="~/Content/dist/images/pub-cover-html.png"></a>
                    </div>
                    <div class="attachment-details">
                        <h2 class="title">
                            @Html.ActionLink("SFA register of apprenticeship training providers", "GetExportFileContentResult", "Home", null, null)
                        </h2>
                        <p class="metadata">
                            <span class="type">HTML</span>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>


</main>