<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <h3>Guidance</h3>
            <h2>Register of RoatP providers</h2>
            <div>
                <p>
                    From: <a href="https://www.gov.uk/government/organisations/skills-funding-agency" target="_blank">Skills Funding Agency</a>
                </p>
                <p>
                    Part of: SFA: register of training organisations and Further education and training
                </p>
                <p>
                    First published: 14 March 2017
                </p>
                <p>
                    Last updated: No idea?
                </p>
                <p>
                    Applies to: England
                </p>
            </div>
            <table>
                <tbody>
                <tr>
                    Documents
                </tr>
                <tr>
                    @Html.ActionLink("SFA register of apprenticeship training providers", "GetExportFileContentResult", "Home", null, null)
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>