<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration serviceName="Sfa.Roatp.Indexer.WorkerRole.CloudService" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" schemaVersion="2015-04.2.6">
  <Role name="Sfa.Roatp.Indexer.WorkerRole">
    <Instances count="#{azure.instance.count}" xdt:Transform="Replace" />
    <Certificates>
      <Certificate name="WebSslCert" thumbprint="#{SSLThumbprint}" thumbprintAlgorithm="sha1"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    </Certificates>
  </Role>
  <NetworkConfiguration>
    <AddressAssignments xdt:Transform="Replace">
      <VirtualNetworkSite xdt:Transform="Insert" name="#{azure.vnet.name}" />
      <InstanceAddress roleName="Sfa.Roatp.Indexer.WorkerRole">
        <Subnets>
          <Subnet name="#{azure.vnet.subnet.name}" />
        </Subnets>
      </InstanceAddress>
    </AddressAssignments>
    <LoadBalancers xdt:Transform="Insert">
      <LoadBalancer name="#{azure.loadbalancer.name}">
        <FrontendIPConfiguration type="private" subnet="#{azure.vnet.subnet.name}" staticVirtualNetworkIPAddress="#{azure.loadbalancer.ip}" />
      </LoadBalancer>
    </LoadBalancers>
  </NetworkConfiguration>
</ServiceConfiguration>