<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration serviceName="Sfa.Roatp.Indexer.WorkerRole.CloudService" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceConfiguration" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Role name="Sfa.Roatp.Indexer.WorkerRole">
    <Instances count="#{azure.instance.count}" xdt:Transform="Replace" />
    <Certificates>
      <Certificate name="WebSslCert" thumbprint="#{SSLThumbprint}" thumbprintAlgorithm="sha1"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    </Certificates>
  </Role>
</ServiceConfiguration>
