<?xml version="1.0" encoding="utf-8"?>
<ServiceDefinition name="Sfa.Roatp.Indexer.WorkerRole.CloudService" xmlns="http://schemas.microsoft.com/ServiceHosting/2008/10/ServiceDefinition" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" schemaVersion="2015-04.2.6">
  <WebRole name="Sfa.Roatp.Indexer.WorkerRole" vmsize="#{azure.webrole.vmsize}">
    <Endpoints>
      <InputEndpoint name="Endpoint1" protocol="https" port="443" loadBalancer="#{azure.loadbalancer.name}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    </Endpoints>
    <Certificates/>
  </WebRole>
</ServiceDefinition>
