@import "govuk-templates";
@import "govuk-elements";
@import "_elements";
@import "_fonts";
@import "_fontawesome";

@import "custom-elements/_data-list";
@import "custom-elements/_address";
@import "custom-elements/_results";
@import "custom-elements/_mq-classes";

@import "partials/_footer";
@import "partials/_header";
@import "partials/_phases";
@import "partials/_details";
@import "partials/_headings";
@import "partials/_related";

//TODO: Give the following rogue styles a logical home
strong {
  font-weight: bold;
}

main {
  min-height:450px;
}

.small-btm-margin {
  margin-bottom: 5px;
}

aside h2:first-child {
  margin-top: 15px;
}

/* Stats */

.stats-summary {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block
}

.stats-summary li {
    margin: 0;
    display: block;
    float: left
}

.stats-summary li a {
    text-decoration: none;
    display: block
}

.stats-summary li figure.data .count {
    font-family: "ntatabularnumbers","nta",Arial,sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0
}

@media(max-width: 640px) {
    .stats-summary li figure.data .count {
        font-size:32px;
        line-height: 1.09375
    }
}

@media screen and (max-width: 640px) {
    .stats-summary li figure.data .count {
        padding:.25em 0;
        font-family: "ntatabularnumbers","nta",Arial,sans-serif;
        font-size: 48px;
        line-height: 1.04167;
        font-weight: 400;
        text-transform: none;
        font-weight: 700
    }
}

@media screen and (max-width: 768px) {
    .stats-summary li figure.data .count {
        font-family:"ntatabularnumbers","nta",Arial,sans-serif;
        font-size: 48px;
        line-height: 1.04167;
        font-weight: 400;
        text-transform: none;
        font-weight: 700;
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px
    }
}

@media screen and (max-width: 768px) and (max-width:640px) {
    .stats-summary li figure.data .count {
        font-size:32px;
        line-height: 1.09375
    }
}

@media screen and (min-width: 769px) {
    .stats-summary li figure.data .count {
        text-align:center
    }
}

.stats-summary li figure.data figcaption {
    display: block
}

@media screen and (max-width: 768px) {
    .stats-summary li figure.data figcaption {
        vertical-align:middle;
        display: inline-block;
        margin-right: 10px
    }
}

.stats-summary li figure.data figcaption h2 {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 0
}

@media(max-width: 640px) {
    .stats-summary li figure.data figcaption h2 {
        font-size:14px
    }
}

@media screen and (max-width: 640px) {
    .stats-summary li figure.data figcaption h2 {
        font-family:"nta",Arial,sans-serif;
        font-size: 16px;
        line-height: 1.25;
        font-weight: 300;
        text-transform: none;
        font-weight: 700
    }
}

@media screen and (max-width: 640px) and (max-width:640px) {
    .stats-summary li figure.data figcaption h2 {
        font-size:14px
    }
}

@media screen and (min-width: 769px) {
    .stats-summary li figure.data figcaption h2 {
        text-align:center
    }
}

.stats-summary li figure.data figcaption.underline {
    text-decoration: underline
}

@media screen and (max-width: 640px) {
    .stats-summary li {
        width: 100%
    }
}

@media screen and (min-width: 641px) {
    .stats-summary {
        display: flex;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 641px) and (max-width:768px) {
    .stats-summary li {
        width: 50%
    }
}

@media screen and (min-width: 769px) {
    .stats-summary li {
        width: 25%
    }
}

.column-full {
    @include grid-column(1);
}

table {
    margin-bottom: 20px;
    border-top: 1px solid $border-colour;
    tr:nth-child(odd) {
        background-color: $grey-4;
    }
    th  {
        padding-left: 10px;
    }
}

.crest {
    margin: 20px 0;
    img {
        height:80px;
    }
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */


code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}



pre {
    padding-bottom: 0 !important;
}