<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Employer agreement - Manage apprentices</title>
    <!--[if gt IE 8]><!-->
    <link href="~/Content/dist/css/govuk-template.css" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="~/Content/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="~/Content/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="~/Content/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="~/Content/dist/css/govuk-template-print.css" media="print" rel="stylesheet" />
    <!--[if gte IE 9]><!-->
    <link href="~/Content/dist/css/fonts.css" media="all" rel="stylesheet" /><!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="~/Content/dist/images/opengraph-image.png">
    <meta name="msapplication-config" content="none" />
    <!--[if IE 6]><link href="~/Content/dist/css/screenie6.min.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="~/Content/dist/css/screenie7.min.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="~/Content/dist/css/screenie8.min.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="~/Content/dist/css/screen.min.css" media="all" rel="stylesheet" />
    <link href="~/Content/dist/css/custom.css" media="all" rel="stylesheet" />
    <!--<![endif]-->
    
    <link rel="icon" type="image/png" href="/Content/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/Content/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/Content/favicons/favicon-96x96.png" sizes="96x96">

</head>

<body>

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")

    @RenderSection("footerJS", false)

</body>
</html>